.flip{
<<<<<<< HEAD
	width: 152px;
	height: 152px; 
=======
	position: relative;
	width: 150px;
	height: 150px; 
>>>>>>> c21fe3248cd60e2a762f3d699dc3b1fdd52d4fce

}

.flip > .front{
		position: absolute; -webkit-transform: perspective(600px) rotateY(0deg);
		transform: perspective(600px) rotateY(0deg);
		background #fCO; width: 150px;height: 150px; border-radius: 7px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: webkit-transform .5s linear 0s;
		transition: transform .5s linear 0s;
}

.flip > .back{
		position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
		transform: perspective(600px) rotateY(180deg);
		background #fCO; width: 150px;height: 150px; border-radius: 7px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: webkit-transform .5s linear 0s;
		transition: transform .5s linear 0s;
}

.flip > .frontFlip{
		position: absolute; -webkit-transform: perspective(600px) rotateY(-180deg);
		transform: perspective(600px) rotateY(-180deg);
		background #fCO; width: 150px;height: 150px; border-radius: 7px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: webkit-transform .5s linear 0s;
		transition: transform .5s linear 0s;
}

.flip > .backFlip{
		position: absolute; -webkit-transform: perspective(600px) rotateY(0deg);
		transform: perspective(600px) rotateY(0deg);
		background #fCO; width: 150px;height: 150px; border-radius: 7px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: webkit-transform .5s linear 0s;
		transition: transform .5s linear 0s;
}

img{
	position: relative;
	top: -5px;

}